<div class="content-container" ng-controller="SavingsDocumentsController">
    <ul class="breadcrumb">
        <li><a href="#/viewsavingaccount/{{savingsId}}">{{'label.anchor.viewsavingsaccount' | translate}}</a></li>
        <li class="active">{{'label.heading.accountdocuments' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{ 'label.heading.accountdocuments' | translate }}</h4>
            </div>
            <div class="pull-right">
                        <a href="#/addsavingsdocument/{{savingsId}}" class="btn btn-primary" has-permission='CREATE_DOCUMENT'><i
                                class="fa fa-plus "></i>
                            {{'label.button.upload' | translate}}</a>
                    </div>
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.name' | translate}}</th>
                    <th>{{'label.heading.description' | translate}}</th>
                    <th>{{'label.heading.filename' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in accountDocuments">
                      <td>{{document.name}}</td>
                        <td>{{document.description}}</td>
                        <td>{{document.fileName}}</td>
                        <td>
                            <a target="_blank" href="{{hostUrl}}{{document.docUrl}}"><i class="fa fa-cloud-download"></i></a>&nbsp;
                            <a ng-show="document.fileIsImage" ng-click="previewDocument(document.docUrl,document.fileName)"><i class="fa fa-eye"></i></a>
                            <a ng-click="deleteDocument(document.id,$index)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
