<div class="content-container" ng-controller="ViewAuditController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#/audit">{{'label.anchor.audit' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewauditentry' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.viewauditentry' | translate}}</h4>
            </div>
            <br>
            <div class="">
                <table width="100%">
                    <tr>
                        <td width="35%"><strong>{{'label.heading.id' | translate}}:</strong></td>
                        <td width="65%">{{details.id}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'label.heading.status' | translate }}:</strong></td>
                        <td>{{details.processingResult}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'label.heading.user' | translate }}:</strong></td>
                        <td>{{details.maker}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'label.heading.action' | translate }}:</strong></td>
                        <td>{{details.actionName}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'label.heading.entity' | translate }}:</strong></td>
                        <td>{{details.entityName}}</td>
                    </tr>
                    <tr data-ng-show="details.resourceId">
                        <td><strong>{{ 'label.heading.resourceid' | translate }}:</strong></td>
                        <td>{{details.resourceId}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'label.heading.date' | translate }}:</strong></td>
                        <td>{{details.madeOnDate | DateFormat}}</td>
                    </tr>
                    <tr data-ng-show="details.officeName">
                        <td><strong>{{ 'label.heading.office' | translate }}:</strong></td>
                        <td>{{details.officeName}}</td>
                    </tr>
                    <tr data-ng-show="details.savingsAccountNo">
                        <td><strong>{{ 'label.heading.savingsaccountno' | translate }}:</strong></td>
                        <td>{{details.savingsAccountNo}}</td>
                    </tr>
                    <tr data-ng-show="details.groupLevelName">
                        <td><strong>{{details.groupLevelName}}:</strong></td>
                        <td>{{details.groupName}}</td>
                    </tr>
                </table>
            </div>
            <hr/>
            <div>
                <table class="table width1200px" data-ng-show="details.commandAsJson" data-anchor>
                    <thead>
                    <tr class="graybg">
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'label.heading.command' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="json in jsondata">
                        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{json.name | translate }}</strong></td>
                        <td>{{json.property}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <br>
                   
                    <div data-ng-show="flag">
                        <table class="table table-bordered width1200px" data-anchor>
                            <thead>
                            <tr class="graybg">
                                <th>{{'label.heading.id' | translate}}</th>
                                <th>{{'label.heading.resourceid' | translate}}</th>
                                <th>{{'label.heading.status' | translate}}</th>
                                <th>{{'label.heading.madeby' | translate}}</th>
                                <th>{{'label.heading.action' | translate}}</th>
                                <th>{{'label.heading.entity' | translate}}</th>
                                <th>{{'label.heading.office' | translate}}</th>
                                <th>{{'label.heading.madedate' | translate}}</th>
                                <th>{{'label.heading.checker' | translate}}</th>
                                <th>{{'label.heading.checkeddate' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pointer-main" data-ng-click="routeTo(data.id)" ng-repeat="data in searchData.pageItems">
                                <td>{{data.id}}</td>
                                <td>{{data.resourceId}}</td>
                                <td>{{data.processingResult | translate}}</td>
                                <td>{{data.maker}}</td>
                                <td>{{data.actionName}}</td>
                                <td>{{data.entityName}}</td>
                                <td>{{data.officeName}}</td>
                                <td>{{data.madeOnDate | date:'d MMM y h:mm:ss'}}</td>
                                <td>{{data.checker}}</td>
                                <td>{{data.checkedOnDate | date:'d MMM y h:mm:ss'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="pager">
                        <li class="previous">
                            <a id="prev" ng-click="audit.previous()" href="" ng-disabled="!audit.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a>
                        </li>
                        <li class="next">
                            <a id="next" ng-click="audit.next()" href="" ng-disabled="!audit.hasNext()">{{'label.button.next' | translate}} &rarr;</a>
                        </li>
                    </ul>

                    <h3 data-ng-show="!flag" class="auditnodata"><strong>{{ 'label.nodata' | translate }}</strong></h3>
                </div>
      
        </div>
    </div>
</div>
